<div id="gteamMain">
    <p class="h2">ГЕТ тим</p>
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="/static/img/ToskoRistov.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Тошко Ристов</h5>
                <p class="card-text"><small class="text-muted">Сопственик на Венито Комерц</small></p>
                <p class="card-text">Дип. маш. инж. при Машински Факултет Скопје</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/static/img/IleMircheski.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Иле Мирчески</h5>
                <p class="card-text"><small class="text-muted">Тим лидер</small></p>
                <p class="card-text">Доцент при Машински Факултет Скопје</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/static/img/InaKrstevska.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Ина Крстевска</h5>
                <p class="card-text"><small class="text-muted">Мехатроника</small></p>
                <p class="card-text">Дип. маш. инж. при Машински факултет Скопје</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/static/img/FilipPoposki.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Филип Попоски</h5>
                <p class="card-text"><small class="text-muted">Енергетика, екологија, механика</small></p>
                <p class="card-text">{{ cardDescription }}</p>
            </div>
        </div>
    </div>
    <div class="w-100"></div>
    <div class="card-deck">

        <div class="card">
            <img class="card-img-top" src="/static/img/AleksandarJankovik.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Александар Јанковиќ</h5>
                <p class="card-text"><small class="text-muted">Дизајн</small></p>
                <p class="card-text">Дип. маш. инж. при Машински факултет Скопје</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/static/img/MarkoNaseski.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Марко Насески</h5>
                <p class="card-text"><small class="text-muted">CAD модели, термодинамика</small></p>
                <p class="card-text">{{ cardDescription }}</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/static/img/MartinSpasovski.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Мартин Спасовски</h5>
                <p class="card-text"><small class="text-muted">Автоматизација, електроника</small></p>
                <p class="card-text">{{ cardDescription }}</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/static/img/IgorDzambaski.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Игор Џамбаски</h5>
                <p class="card-text"><small class="text-muted">CAD модели, производни технологии</small></p>
                <p class="card-text">{{ cardDescription }}</p>
            </div>
        </div>
    </div>
</div>