<div id="ideaMain">
    <p class="h2">За идејата</p>
    <div class="row">

        <div class="col"><p class="font-weight-bold">Кој е финален продукт?</p></div>
        <div class="w-100"></div>
        <div class="col">
            <p>
                ГЕТ е систем од велосипед, станица и желба за чист воздух.
                Приоритетна цел на ГЕТ тимот е промена на навиките на поединецот со своеволно придонесување во прочистувањето на воздухот и тоа токму со овој ГЕТ велосипед.
                Во тек е развивање на еден целосно нов пристап кон јавниот транспорт со што ги решаваме голем број на проблемите кај веќе постоечките системи.
                Основата на оваа иницијатива е на граѓаните да им се понуди нова услуга, која овозможува алтернативен начин за движење во градската средина. Со развивање на услугата, директно се развива и нов производ. Односно целта на овој проект е развивање на градски систем на електрични велосипеди кои ќе го прочистуваат воздухот со филтри, паралелно намалувајќи го бројот на автомобили во градскиот сообраќај.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-auto">
            <img src="/static/img/bikeHandle.png" style="height: 200px; width: 400px"/>
        </div>
        <div class="col prologue"><p class="font-weight-bold">Пролог</p>

            <div class="col">
                Главното прашање поставено од страна на ГЕТ тимот беше "Како заедно да го намалиме загадувањето на воздухот предизвикано од транспортот со моторни возила?" Електричен велосипед е совршено решениe
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Без директни емисии</li>
                    <li class="list-group-item">Флексибилност и здравствени бенефити на класичен велосипед</li>
                    <li class="list-group-item">Минимален напор и голем домет при користење на електромоторот</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="w-100"></div>
        <div class="col"><p class="font-weight-bold">Таргет група</p></div>
        <div class="w-100"></div>
        <div class="col">Потрошувачите, односно корисниците на еден ваков систем кој не опфаќа сите нас, студентите, учениците, децата, пензионерите како и сите други граѓани или посетители на градот, на пример туристите.Се развива за секој поединец којшто сака да го искористи како превозно средство и притоа да помогне во прочистувањето на воздухот.
            Mесто на одвивање на ова дејство е во рамките на градот, со достапни станици за полнење на батеријата.
            Секој корисник ќе може да го:<br><br>
            • Изнајми велосипедот.<br>
            • Kористи велосипедот до посакуваното место.<br>
            • Паркира велосипедот, без да вози дополнително до постоечката станица.<br><br>
            Намалувањето на загадувањето кон кое придонесува еден ваков систем, а и физичката активност која е потребна за негово користење носат голем број на здравствени бенефити. Покрај здравствените бенефити кои ги нуди овој систем, не треба да се заборави и фактор дека се нуди еден целосно нов начин за движење низ урбаните средини.
        </div>

    </div>
    <div class="row">
        <div class="col">
            <p class="font-weight-bold">Состојба на проектот</p>
        </div>
        <div class="w-100"></div>
        <div class="col">
            Проектот е во фаза на развивање. Во тек се одреден број на анализи и експерименти од страна на тимот со тоа што целиот систем поминува низ одредени промени и постепено го добива обликот којшто е замислен на почетокот.
            Како што веќе напоменавме, еден ваков проект е  целосен новитет на овие простори, а не е ни голем бројот на вакви системи кои се успешно применети во светски рамки, па токму затоа портите за соработка се отворени за сите  можни бизнис или технолошки партнери.
        </div>
    </div>
    <div class="row" style="margin: 0 auto; display: table; margin-top: 2%">
        <div class="col">
            <div class="card card-body" style="display: inline-block">
                <img src="/static/img/PhysicalBike.jpg" style="height: 400px; width: auto; margin: 0%">
                <img src="/static/img/FilterTire.jpg" style="height: 400px; width: auto; margin: 0%">
            </div>
        </div>
    </div>
</div>