<div id="errorMain">
    <h1 class="display-3">{{ error_message }}</h1>
    <h1 class="display-4" style="font-size: 2.5rem;">{{ error_message1 }}</h1>
    <img src="/static/img/settings.png" alt="Working on it"/>
</div>