#ideaMain{
    margin-left: 12%;
    margin-bottom: 2%;
    margin-top: 2%;
}

#ideaMain .h2{
    margin-bottom: 0px;
    border-bottom: solid;
    border-color: #00bf77;
}

#ideaMain .row .col{
    padding-right: 0px;
    padding-left: 0px;
}

#ideaMain .row{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 2%;
}

#ideaMain .row .col img{
    margin-top: 5%;
}

#ideaMain .row .prologue {
    padding-left: 5%;
    padding-right: 4%;
}


