<div id="ideaMain">
    <p class="h2">About the idea</p>
    <div class="row">

        <div class="col"><p class="font-weight-bold">What is the final product?</p></div>
        <div class="w-100"></div>
        <div class="col">
            <p>
                GET is a system of bicycle, station and a desire for clean air.
                The GET team's primary goal is changing the habits of the individuals involving them in the air purification, the GET system.
                Currently, we are developing an entirely new approach to public transport, thus solving a number of problems with already existing systems.
                The basis of this initiative is to offer the citizens a new service, which provides an alternative way of moving in city environments. By developing this kind of service, a new product is also developed. The purpose of this project is to develop a city bicycle system that removes pollution from the air with proactive filters installed on the bicycle, simultaneously reducing the number of cars in city traffic.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-auto">
            <img src="/static/img/bikeHandle.png" style="height: 200px; width: 400px"/>
        </div>
        <div class="col prologue"><p class="font-weight-bold">Prologue</p>

            <div class="col">
                The main question posed by the GET team was "How to reduce the pollution of the air caused by the transport of motor vehicles together?" An electric bike is the perfect solution.
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">No direct emissions</li>
                    <li class="list-group-item">Flexibility and health benefits of a classic bicycle</li>
                    <li class="list-group-item">Minimum effort and large range when using the electric motor</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="w-100"></div>
        <div class="col"><p class="font-weight-bold">Target group</p></div>
        <div class="w-100"></div>
        <div class="col">This system will be available for all of us, students, children, elder people, as well as all other citizens or visitors to the city, for example tourists.  The system is being developed for every individual who wants to use it as a way of transport to help purify the air and get to his desired location anytime in a day. The place of action is within the city, with available charging stations. Each user will be able to:<br><br>
            • Rent a bike.<br>
            • Use a bike to the desired location.<br>
            • Park the bike, without further driving to an existing station.<br><br>
            The reduction of the air pollution to which such a system contributes, and the physical activity required for its use bring a number of health benefits. In addition to the health benefits offered by this system and one should not forget the fact that it offers an entirely new way of moving through urban environments.
        </div>

    </div>
    <div class="row">
        <div class="col">
            <p class="font-weight-bold">Status of the project</p>
        </div>
        <div class="w-100"></div>
        <div class="col">
            The project is under development. A number of analyzes and experiments are still to be conducted. The whole system is going through certain changes and is gradually getting the shape that was imagined at the beginning.
            As already mentioned, such a project is a complete novelty in this region, furthermore there are not many systems of this kind that have been successfully implemented globally, therefore we are open to the cooperation and partnership , whether the nature of it is business or technology oriented.
        </div>
    </div>
    <div class="row" style="margin: 0 auto; display: table; margin-top: 2%">
        <div class="col">
            <div class="card card-body" style="display: inline-block">
                <img src="/static/img/PhysicalBike.jpg" style="height: 400px; width: auto; margin: 0%">
                <img src="/static/img/FilterTire.jpg" style="height: 400px; width: auto; margin: 0%">
            </div>
        </div>
    </div>
</div>